  <mat-toolbar color="primary">
      <a mat-icon-button class="example-icon"  href="catalog">
        <mat-icon>menu</mat-icon>
      </a>
      <span>My Market Place</span>
      

      <span style="flex: 1 1 auto;"></span>
      <span style="background-color: cadetblue; padding: 5px;" *ngIf="isUserLoggedIn">
        <a
        [routerLink]="['/edit-user', token]"> {{ username }}
      </a>
        
      </span>
      <a mat-button href="new-item" *ngIf="isAdmin">
        Add new Item
        <mat-icon>add</mat-icon>
      </a>
      <a mat-button href="user-list" *ngIf="isAdmin">
        User List
        <mat-icon>person</mat-icon>
      </a>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-button (click)="logout()" *ngIf="isUserLoggedIn">
        Logout
      </button>
      <button mat-button (click)="login()" *ngIf="!isUserLoggedIn">
        Login
      </button>
      
  </mat-toolbar>
  
<router-outlet></router-outlet>
<p>York University, term project, 2023</p>
