

<div style="display: flex; flex-direction: row; flex-wrap:wrap; justify-content: space-around;">
<mat-card class="example-card"  *ngFor="let c of catalog_items" style="margin: 15px;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{c.name}}</mat-card-title>
      <mat-card-subtitle>{{c.category}}, Brand: {{c.brand}}, Qnt: {{c.quantity}} item id: {{c.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="c.image">
    <mat-card-content>
      <p>{{c.text}}</p>
    </mat-card-content>
    <mat-card-actions >
      <button mat-raised-button (click)="addToCard(c.id)">Add To Card</button>&nbsp;
    <a  mat-raised-button color="primary"
        [routerLink]="['/edit-item', c.id]"> Edit
    </a>&nbsp;
    <button mat-raised-button color="accent" (click)="deleteItem(c.id)" *ngIf="isAdmin()">Delete</button>&nbsp;
    </mat-card-actions>
  </mat-card>
</div>  
