<form style="margin: 15px; display: flex; flex-direction: column;" [formGroup]="createItemForm"> 
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Sub Title</mat-label>
        <input matInput placeholder="Sub Title" formControlName="subTitle">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error>required </mat-error> 
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Image</mat-label>
        <input matInput placeholder="Image" formControlName="image">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error>required </mat-error> 
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price" formControlName="price">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error>required </mat-error> 
    </mat-form-field>
    <mat-form-field>
        <mat-label>Text</mat-label>
        <textarea matInput formControlName="text"></textarea>
        <mat-error>required </mat-error> 
      </mat-form-field>
</form>
<button style="margin: 15px" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
<a mat-raised-button color="accent" href="catalog">Cancel</a>

